<h5>性癖</h5>

    <% if @user.likes.any? %>

        <% @user.likes.last(8).each do |like| %>
            <%= link_to like_path(like) do %>
            <div class="like-card-wrapper">
                <%= render "likes/index" ,like: like %>
            </div>
            <% end %>
        <% end %>
    <% else %>
        <h6>性癖は未設定です</h6>
     <% end %>
         <div class="button-form">
            <%= link_to "もっと見る", users_path(@user) %>
            <%= link_to "性癖一覧へ", likes_path, class: "btn btn-default"%>
        </div>
