<h5>マイスキル</h5>

    <% if @user.user_skills.any? %>

        <% @user.user_skills.last(8).each do |skill| %>
            <%= link_to user_skill_path(skill) do %>
            <div class="like-card-wrapper">
                <%= render "user_skills/index" ,skill: skill %>
                </div>
            <% end %>
        <% end %>
    <% else %>
        <h6>マイスキルは未設定です</h6>
     <% end %>
         <div class="button-form">
            <%= link_to "もっと見る", users_path(@user) %>
            <%= link_to "スキル一覧へ", user_skills_path, class: "btn btn-default"%>
        </div>
