<div class="content-box">
    <div class ="row">
        <div class="title">
            <h1>マイページ</h1>
        </div>
        <div class="user-index">
            <div class="col-xs-3">
                <%= render 'users/user_box', user: @user%>
            </div>
            <div class="col-xs-9">
                <h2>うちの子一覧</h2>
                <div class="character-index">
                    <% @characters.each do |character| %>
                        <%= render 'characters/cards', character: character%>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
;(function () {
    let card  = document.getElementsByClassName('card')[0],
        moved = 0,
        interval;

    if (!card) return;
    
    card.addEventListener('click', function (event) {
        clearInterval(interval);
        card.style.transform = '';
        
        // Do not flip the card if the user is trying to
        // tap a link.
        if (event.target.nodeName === 'A') {
            return;
        }
        
        let cName   = card.getAttribute('data-toggle-class');
        let toggled = card.classList.contains(cName);
        card.classList[toggled ? 'remove' : 'add'](cName);
    });
    
    interval = setInterval(function () {
        moved = moved ? 0 : 10;
        card.style.transform = 'translateY(' + moved + 'px)';
    }, 1500);
})();
</script>
