<div class="content-box">
    <div class ="row">
        <div class="title">
            <h1>ユーザー詳細</h1>
        </div>
        <div class="user-index">
                <div class="col-xs-3">
                    <%= render 'users/user_box', user: @user%>
                </div>
        </div>
    </div>
</div>