<div class= 'like-card'>
    <div class="like-image">
        <%= attachment_image_tag skill, :image,:width =>'95%' ,fallback: "users/no_image.png"%>
    </div>
    <div class="like-title">
        <h2><%= skill.name %></h2>
    </div>
</div>