<div class="content-box">
    <div class ="row">
        <div class="title">
            <h1>スキル一覧・追加画面</h1>
        </div>
        <div class="main-content">
            <div class="col-xs-3">
                <%= render 'users/user_box', user: @user%>
            </div>
            <div class="col-xs-9">
		   <h3>スキル一覧</h3>
				<% @skills.each do |skill| %>
                    <div class="like-card-wrapper">
                            <%= render "user_skills/index" ,skill: skill %>
		               	<div class="system-follow-form">
							<%= render "user_skills/follow" ,skill: skill %>
						</div>
					</div>
				<% end %>
			<hr>
	           
		<div class="new-form">
            <h3>スキル追加</h3>
			<%= render 'user_skills/new_form', flash: flash %>
    	</div>
</div>
    </div>
</div>