<div class="content-box">
    <div class ="row">
        <div class="title">
            <h1>キャラクター一覧</h1>
        </div>
        <div class="main-content">
        	<% @characters.each do |character| %>
                <%= render 'characters/cards', character: character%>
        	<% end %>
        </div>
    </div>
</div>