    		            <div class="system-card-wrapper">
    		               <%= link_to system_path(system) do %>
            		        	<div class= 'status-card'>
                    		    	<div class="status-image">
                            			<%= attachment_image_tag system, :image,:width =>'95%' ,fallback: "users/no_image.png"%>
                        			</div>
                        			<div class="status-title">
                            			<%= system.title %>
                        			</div>
                    			</div>
                    		<% end %>
		               	</div>
